In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('Db-IMDB.db')

# 1. List all the directors who directed a 'Comedy' movie in a leap year. (You need to check that the genre is 'Comedyâ€™ and year is a leap year) Your query should return director name, the movie name, and the year.

In [2]:
#https://github.com/stegemang/sqlimdb
#https://github.com/theja-vanka/imdb-sql

list_of_directors = pd.read_sql_query("""
WITH
    Comedy_Movies AS
    (
        SELECT
             -- COUNT(*)  107
            MG.MID
        FROM
                    GENRE G
            JOIN    M_GENRE MG
            ON      G.GID = MG.GID
        WHERE
            TRIM(G.Name) LIKE '%Comedy%'
    ),
    Comedy_Movies_In_Leap_Yr AS
    (
        SELECT
            M.MID,
            M.title,
            CAST(SUBSTR(M.year,-4) AS UNSIGNED) year
        FROM
                    Comedy_Movies CM
            JOIN    Movie M
            ON      CM.MID = M.MID
        WHERE
            (CAST(SUBSTR(M.year,-4) AS UNSIGNED) %4 = 0 )
    )
   SELECT
        DISTINCT
        TRIM(P.Name) Director_Name,
        CM.title Movie_Name,
        CM.year
    FROM
                Comedy_Movies_In_Leap_Yr CM
        JOIN    M_Director MD
        ON      CM.MID = MD.MID
        JOIN    Person P
        ON      TRIM(MD.PID) = TRIM(P.PID)
    ORDER BY 
    year
""", conn)

list_of_directors

            Director_Name                     Movie_Name  year
0             Satyen Bose                        Jagriti  1956
1            Chetan Anand                       Funtoosh  1956
2              Amit Mitra                     Jagte Raho  1956
3             Mohan Segal                      New Delhi  1956
4             R.K. Nayyar                  Love in Simla  1960
5               Bimal Roy                         Parakh  1960
6              S.U. Sunny                       Kohinoor  1960
7           Ravindra Dave                   Dulha Dulhan  1964
8       Kidar Nath Sharma                    Chitralekha  1964
9          Shakti Samanta                Kashmir Ki Kali  1964
10             K. Shankar                       Rajkumar  1964
11          Ram Mukherjee                         Leader  1964
12               Debu Sen                  Do Dooni Char  1968
13            Lekh Tandon               Jhuk Gaya Aasman  1968
14           Bhappi Sonie                    Brahmachari  1968
15           A. Bhimsingh             Sadhu Aur Shaitaan  1968
16          Jyoti Swaroop                        Padosan  1968
17           Naresh Kumar                  Gora Aur Kala  1972
18           Ramesh Sippy                Seeta Aur Geeta  1972
19             S.S. Balan                         Sanjog  1972
20             Mukul Dutt             Raaste Kaa Patthar  1972
21          S. Ramanathan                  Bombay to Goa  1972
22                   Brij               Victoria No. 203  1972
23   Hrishikesh Mukherjee                       Bawarchi  1972
24           A. Bhimsingh                Joroo Ka Ghulam  1972
25             Aspi Irani                   Garam Masala  1972
26          Prakash Mehra                     Hera Pheri  1976
27                Mehmood                Ginny Aur Johny  1976
28         Tarun Majumdar                   Balika Badhu  1976
29        Basu Chatterjee                 Chhoti Si Baat  1976
..                    ...                            ...   ...
202          Rajat Kapoor                         Fatso!  2012
203         Abhishek Jain                Kevi Rite Jaish  2012
204        Nikkhil Advani                   Delhi Safari  2012
205       Abhishek Sharma  Tere Bin Laden: Dead Or Alive  2016
206          Umesh Ghadge           Kyaa Kool Hain Hum 3  2016
207          Milap Zaveri                     Mastizaade  2016
208        Sanjeev Sharma                  Saat Uchakkey  2016
209     Krishnadev Yagnik                 Days of Tafree  2016
210           Suhas Kadav      Motu Patlu: King of Kings  2016
211                 Vijay             Tutak Tutak Tutiya  2016
212  Shubhashish Bhutiani                Hotel Salvation  2016
213       Milind Dhaimade             Tu Hai Mera Sunday  2016
214       Sunil Subramani                          Fuddu  2016
215          Shakun Batra                  Kapoor & Sons  2016
216           Nitya Mehra                Baar Baar Dekho  2016
217         Aditya Chopra                        Befikre  2016
218  Ghorban Mohammadpour    Hello Mumbai: Salaam Mumbai  2016
219           Indra Kumar              Great Grand Masti  2016
220          Remo D'Souza                  A Flying Jatt  2016
221          Rohit Dhawan                        Dishoom  2016
222         Vaibhav Misra                     LoveShhuda  2016
223        Saandesh Nayak                    Love Shagun  2016
224              R. Balki                        Ki & Ka  2016
225         Mudassar Aziz              Happy Bhag Jayegi  2016
226         Rajiv S. Ruia                    Direct Ishq  2016
227                 Sajid                    Housefull 3  2016
228             Akashdeep            Santa Banta Pvt Ltd  2016
229        Sunil K. Reddy                         Thikka  2016
230           Bobby Kolli           Sardaar Gabbar Singh  2016
231           Sohail Khan                     Freaky Ali  2016

[232 rows x 3 columns]

# 2. List the names of all the actors who played in the movie 'Anand' (1971)

In [5]:
df = pd.read_sql_query('''SELECT name from Person where pid IN 
                        (SELECT pid FROM m_cast where mid IN
                        (SELECT mid from movie where title = 'Anand'));''', conn)

In [6]:
df

                 Name
0    Amitabh Bachchan
1       Rajesh Khanna
2       Sumita Sanyal
3          Ramesh Deo
4           Seema Deo
5      Asit Kumar Sen
6          Dev Kishan
7        Atam Prakash
8       Lalita Kumari
9              Savita
10     Brahm Bhardwaj
11       Gurnam Singh
12       Lalita Pawar
13        Durga Khote
14         Dara Singh
15      Johnny Walker
16          Moolchand

# 3. List all the actors who acted in a film before 1970 and in a film after 1990. (That is: < 1970 and > 1990.)

In [5]:
result = pd.read_sql_query("""
WITH
    ACTORS_BEFORE_1970 AS
    (
        SELECT
            DISTINCT
            TRIM(MC.PID) PID
        FROM
                    Movie M
            JOIN    M_Cast MC
            ON      M.MID = MC.MID
        WHERE
            CAST(SUBSTR(M.year,-4) AS UNSIGNED) < 1970
    ),
    ACTORS_AFTER_1990 AS
    (
        SELECT
            DISTINCT
            TRIM(MC.PID) PID
        FROM
                    Movie M
            JOIN    M_Cast MC
            ON      M.MID = MC.MID
        WHERE
            CAST(SUBSTR(M.year,-4) AS UNSIGNED) > 1990
    )
    SELECT
        DISTINCT
        TRIM(P.Name) Actor_Name
    FROM
                ACTORS_BEFORE_1970 A_1970
        JOIN    ACTORS_AFTER_1990 A_1990
        ON      A_1970.PID = A_1990.PID
        JOIN    Person P
        ON      A_1970.PID = TRIM(P.PID)
""", conn)
result

             Actor_Name
0          Rishi Kapoor
1      Amitabh Bachchan
2                Asrani
3          Zohra Sehgal
4       Parikshat Sahni
5         Rakesh Sharma
6           Sanjay Dutt
7             Ric Young
8                 Yusuf
9        Suhasini Mulay
10          A.K. Hangal
11         Jeremy Child
12         Farida Jalal
13       Waheeda Rehman
14        Rajesh Khanna
15           Ramesh Deo
16            Seema Deo
17       Asit Kumar Sen
18       Brahm Bhardwaj
19         Lalita Pawar
20           Dara Singh
21        Johnny Walker
22            Moolchand
23           Saira Banu
24          Prem Chopra
25          Dina Pathak
26       Achala Sachdev
27           Shashikala
28   Mohandas K. Gandhi
29     Jawaharlal Nehru
..                  ...
270      Gemini Ganesan
271                Aziz
272         Mohamad Ali
273         Master Amar
274               Gopal
275              Manish
276            Surendra
277           Raj Joshi
278              Nikita
279             Jaswant
280              Merlyn
281     Vikram Makandar
282     Lata Mangeshkar
283               Munni
284             Gummadi
285   Allu Ramalingaiah
286              Kaveri
287        Bharati Devi
288               Kumar
289                 Uma
290              Ismail
291         Miss Firoza
292                Dube
293               Dolly
294             Shekhar
295              Poonam
296       Jamila Massey
297         K.R. Vijaya
298               Sethi
299        Suryakantham

[300 rows x 1 columns]

# 4. List all directors who directed 10 movies or more, in descending order of the number of movies they directed. Return the directors' names and the number of movies each of them directed.

In [7]:
result=pd.read_sql_query("""SELECT
    DISTINCT
    TRIM(P.NAME) DIRECTOR_NAME,
    NM.NUM_OF_MOVIES_DIRECTED
FROM
            (SELECT 
                PID,
                COUNT(MID) NUM_OF_MOVIES_DIRECTED
            FROM
                M_Director
            GROUP BY
                PID
            HAVING
                NUM_OF_MOVIES_DIRECTED >= 10
            ) NM
    JOIN    PERSON P
    ON      TRIM(NM.PID) = TRIM(P.PID)
ORDER BY 
    NM.NUM_OF_MOVIES_DIRECTED DESC
""", conn)

In [8]:
result

               DIRECTOR_NAME  NUM_OF_MOVIES_DIRECTED
0               David Dhawan                      39
1               Mahesh Bhatt                      35
2               Priyadarshan                      30
3            Ram Gopal Varma                      30
4               Vikram Bhatt                      29
5       Hrishikesh Mukherjee                      27
6                Yash Chopra                      21
7            Basu Chatterjee                      19
8             Shakti Samanta                      19
9               Subhash Ghai                      18
10             Shyam Benegal                      17
11  Abbas Alibhai Burmawalla                      17
12         Rama Rao Tatineni                      17
13            Manmohan Desai                      16
14                    Gulzar                      16
15              Raj N. Sippy                      16
16                Raj Kanwar                      15
17          Mahesh Manjrekar                      15
18               Indra Kumar                      14
19                Raj Khosla                      14
20              Rahul Rawail                      14
21         Rajkumar Santoshi                      14
22             Rakesh Roshan                      13
23                 Dev Anand                      13
24               Vijay Anand                      13
25              Harry Baweja                      13
26            Anurag Kashyap                      13
27  Ananth Narayan Mahadevan                      13
28        K. Raghavendra Rao                      13
29              Anees Bazmee                      12
30              Guddu Dhanoa                      12
31               Prakash Jha                      12
32            Satish Kaushik                      12
33           Nagesh Kukunoor                      12
34             Prakash Mehra                      12
35               Umesh Mehra                      12
36               Anil Sharma                      12
37         Madhur Bhandarkar                      12
38              Rohit Shetty                      12
39        Pramod Chakravorty                      11
40              Sanjay Gupta                      11
41             Nasir Hussain                      11
42               Ketan Mehta                      11
43           Govind Nihalani                      11
44                Mohit Suri                      11
45                Raj Kapoor                      10
46                K. Bapaiah                      10
47           Vishal Bhardwaj                      10
48                N. Chandra                      10
49          Tigmanshu Dhulia                      10
50                J.P. Dutta                      10
51               Mehul Kumar                      10
52              Hansal Mehta                      10
53             Sudhir Mishra                      10
54       K. Muralimohana Rao                      10
55           Pankaj Parashar                      10
56             J. Om Prakash                      10
57                 Bimal Roy                      10

# 5. a. For each year count the number of movies in that year that had only feamle actors

In [10]:
fr = pd.read_sql_query('''select z.year, count(*)
from Movie z
where not exists (select *
                  from Person x, M_Cast xy
                  where x.PID = xy.PID and xy.MID = z.MID and x.Gender!='Female')
group by z.year''', conn)
fr

   year  count(*)
0  1939         1
1  1999         1
2  2000         1
3  2009         1
4  2012         1
5  2018         2

# 5. b. Now include a small change: report for each year the percentage of movies in that year with only female actors, and the total number of movies made that year. For example, one answer will be: 1990 31.81 13522 meaning that in 1990 there were 13,522 movies, and 31.81% had only female actors. You do not need to round your answer.

In [11]:
perc_query = pd.read_sql_query('''select a.year, a.c*100.00/b.c as percentage, b.c as total_overall
from (select z.year, count(*) as c
      from Movie z
      where not exists (select *
                        from Person x, M_Cast xy
                        where x.PID = xy.PID and xy.MID = z.MID and x.Gender!='Female')
      group by z.year) a,
     (select z.year, count(*) as c from Movie z group by z.year) b
where a.year=b.year
order by a.year''', conn)
perc_query

   year  percentage  total_overall
0  1939   50.000000              2
1  1999    1.515152             66
2  2000    1.562500             64
3  2009    0.909091            110
4  2012    0.900901            111
5  2018    1.923077            104

# 6. Find the film(s) with the largest cast. Return the movie title and the size of the cast. By "cast size" we mean the number of distinct actors that played in that movie: if an actor played multiple roles, or if it simply occurs multiple times in casts, we still count her/him only once.

In [12]:
l_cast_query = pd.read_sql_query('''select x.title, count(distinct xy.PID) as c
from Movie x, M_Cast xy
where x.MID = xy.MID
group by x.MID, x.title
having not exists (select uv.MID
                   from M_Cast uv
                   group by uv.MID
                   having count(distinct uv.PID) > count(distinct xy.PID))''', conn)
l_cast_query

           title    c
0  Ocean's Eight  238

# 7. A decade is a sequence of 10 consecutive years. For example, say in your database you have movie information starting from 1965. Then the first decade is 1965, 1966, ..., 1974; the second one is 1967, 1968, ..., 1976 and so on. Find the decade D with the largest number of films and the total number of films in D.

In [13]:
decade_query = pd.read_sql_query('''select y.year, count(*)
from (select distinct x.year from Movie x) y,
     Movie z
where y.year <= z.year and z.year < y.year+10
group by y.year
having not exists (select y1.year
                   from (select distinct x1.year from Movie x1) y1, Movie z1
                   where y1.year <= z1.year and z1.year < y1.year+10
                   group by y1.year
                   having count(z1.MID) > count(z.MID))''', conn)
decade_query

   year  count(*)
0  2008      1205

# 8. Find the actors that were never unemployed for more than 3 years at a stretch. (Assume that the actors remain unemployed between two consecutive movies).

In [14]:
unemployed_query = pd.read_sql_query('''select Name from Person where PID 
    not in(select distinct(PID)from M_Cast as C1 natural join Movie as 
    M1 where exists(select MID from M_Cast as C2 natural join Movie as M2 where 
    C1.PID = C2.PID and (M2.year - 3) > M1.year and 
    not exists(select MID from M_Cast as C3 natural join 
    Movie as M3 where C1.PID = C3.PID and M1.year < M3.year and M3.year < M2.year)))''', conn)
unemployed_query

                                   Name
0                        Christian Bale
1                        Cate Blanchett
2                  Benedict Cumberbatch
3                         Naomie Harris
4                           Andy Serkis
5                          Peter Mullan
6                           Jack Reynor
7                          Eddie Marsan
8                         Tom Hollander
9                          Matthew Rhys
10                         Freida Pinto
11                          Rohan Chand
12                      Keveshan Pillay
13               Louis Ashbourne Serkis
14                  Moonsamy Narasigadu
15                     Soobrie Govender
16                          Gopal Singh
17                        Kista Munsami
18                  Mahomed Araf Cassim
19                         Riaz Mansoor
20                  Roshan Jayesh Patel
21                      T'khai Phillips
22                          Sachin Soni
23                       Hridhay Somera
24              Ethaniel Jaden Moonsamy
25                 Gareth Ryan Benjamin
26      Nirvayesh Chakravorty Thanendra
27               Adiyan Ahmed Choudhury
28                         Amara Motala
29                       Diyara Prakash
...                                 ...
38255                        Sandip Ray
38256                S.V. Krishna Reddy
38257                    R.K. Selvamani
38258                   Amma Rajasekhar
38259                       Rahat Kazmi
38260                       Rohit Gupta
38261                         Bela Negi
38262                    Sanjay Talreja
38263                   Rajatesh Nayyar
38264                       Murali Nair
38265                       Pryas Gupta
38266                         Shivamani
38267                     Oliver Paulus
38268                    Vishal Inamdar
38269                     Kumar Shahani
38270                        Ka-Fai Wai
38271            Avtandil Varsimashvili
38272                     G. Ram Prasad
38273                       Raja Chanda
38274                    Deepak Ramteke
38275              Srinivas Sunderrajan
38276                      Kamika Verma
38277                Dhorairaj Bhagavan
38278                      Nasir Shaikh
38279                             Abbas
38280                            Kannan
38281                      Adrian Fulle
38282                     Gulshan Kumar
38283                             Iqbal
38284                  Sushma Shiromani

[38285 rows x 1 columns]

# 9. Find all the actors that made more movies with Yash Chopra than any other director.

In [3]:
result = pd.read_sql_query("""
WITH
    YASH_CHOPRAS_PID AS
    (
        SELECT
            TRIM(P.PID) AS PID
        FROM
            Person P
        WHERE
            Trim(P.Name) LIKE '%Yash Chopra%'
    ),
    NUM_OF_MOV_BY_ACTOR_DIRECTOR AS
    (
        SELECT
            TRIM(MC.PID) ACTOR_PID,
            TRIM(MD.PID) DIRECTOR_PID,
            COUNT(DISTINCT TRIM(MD.MID)) AS NUM_OF_MOV
        FROM
            M_Cast MC,
            M_Director MD
        WHERE
            TRIM(MC.MID)= TRIM(MD.MID)
        GROUP BY
            ACTOR_PID,
            DIRECTOR_PID
    ),
    NUM_OF_MOVIES_BY_YC AS
    (
        SELECT
            NM.ACTOR_PID,
            NM.DIRECTOR_PID,
            NM.NUM_OF_MOV NUM_OF_MOV_BY_YC
        FROM
            NUM_OF_MOV_BY_ACTOR_DIRECTOR NM,
            YASH_CHOPRAS_PID YCP
            WHERE
            NM.DIRECTOR_PID = YCP.PID
    ),
    MAX_MOV_BY_OTHER_DIRECTORS AS
    (
        SELECT
            ACTOR_PID,
            MAX(NUM_OF_MOV) MAX_NUM_OF_MOV
        FROM
            NUM_OF_MOV_BY_ACTOR_DIRECTOR NM,
            YASH_CHOPRAS_PID YCP
        WHERE
            NM.DIRECTOR_PID <> YCP.PID 
        GROUP BY
            ACTOR_PID
    ),
    ACTORS_MOV_COMPARISION AS
    (
    SELECT
        NMY.ACTOR_PID,
        CASE WHEN NMY.NUM_OF_MOV_BY_YC > IFNULL(NMO.MAX_NUM_OF_MOV,0) THEN 'Y' ELSE 'N' END MORE_MOV_BY_YC
    FROM
        NUM_OF_MOVIES_BY_YC NMY
         LEFT OUTER JOIN
        MAX_MOV_BY_OTHER_DIRECTORS NMO
        ON
        NMY.ACTOR_PID = NMO.ACTOR_PID 
    )
    SELECT
        DISTINCT
        TRIM(P.Name) ACTOR_NAME
    FROM
        Person P
    WHERE
        TRIM(P.PID) IN (
            SELECT
                DISTINCT
                ACTOR_PID
            FROM
                ACTORS_MOV_COMPARISION
            WHERE
                MORE_MOV_BY_YC = 'Y'
        )
""", conn)

In [4]:
result

                 ACTOR_NAME
0            Waheeda Rehman
1            Achala Sachdev
2               Yash Chopra
3                Vinod Negi
4        Chandni Jas Keerat
5             Shivaya Singh
6           Huzefa Gadiwala
7              Manish Arora
8              Pankaj Raina
9               Neetu Singh
10            Julia St John
11            Susan Fordham
12                Steve Box
13           Jasmine Jardot
14             Abbie Murphy
15            Julie Vollono
16             Varun Thakur
17           Katy Kartwheel
18              Lucy Phelps
19   Matthew David McCarthy
20           Benjayx Murphy
21          Melissa Hollett
22      Nick Thomas-Webster
23              Anick Wiget
24               Jay Conroy
25            Gary Wronecki
26                Sean Moon
27     Rudy Valentino Grant
28          Richard Herdman
29     James Michael Rankin
..                      ...
75        Chandu Allahabadi
76              Shyam Arora
77            Leela Chitnis
78               Ravi Dubey
79              Ashok Verma
80             Pratima Puri
81          Ramola Bachchan
82             Sumati Gupte
83           Akhtar-Ul-Iman
84               Pran Mehra
85                   Nissar
86            Master Rizwan
87                   Naseem
88                  Parijat
89                    Nazir
90                Ram Maini
91                 Om Sahni
92                    Bhola
93                 Ramanand
94                    Gopal
95                   Kishan
96                    Nasir
97             Ashok Chadda
98                   Rajesh
99             Master Kelly
100              Yasin Khan
101         Sandow S. Sethi
102                   Naval
103               Prem Sood
104         Ramlal Shyamlal

[105 rows x 1 columns]

# 10. The Shahrukh number of an actor is the length of the shortest path between the actor andShahrukh Khan in the "co-acting" graph. That is, Shahrukh Khan has Shahrukh number 0; allactors who acted in the same film as Shahrukh have Shahrukh number 1; all actors who acted in the same film as some actor with Shahrukh number 1 have Shahrukh number 2, etc. Return all actors whose Shahrukh number is 2.

In [12]:
result = pd.read_sql_query("""
WITH 
    SHAHRUKH_0 AS
    (
        SELECT
            TRIM(P.PID) PID
        FROM
            Person P
        WHERE
            Trim(P.Name) like '%Shahrukh%'
    ),
    SHAHRUKH_1_MOVIES AS
    (
        SELECT
            DISTINCT
            TRIM(MC.MID) MID,
            S0.PID
        FROM
            M_Cast MC,
            SHAHRUKH_0 S0
        WHERE
            TRIM(MC.PID) = S0.PID
    ),
    SHAHRUKH_1_ACTORS AS
    (
        SELECT
            DISTINCT
            TRIM(MC.PID) PID
        FROM
            M_Cast MC,
            SHAHRUKH_1_MOVIES S1M
        WHERE
            TRIM(MC.MID) = S1M.MID AND
            TRIM(MC.PID) <> S1M.PID
    ),
    SHAHRUKH_2_MOVIES AS
    (
        SELECT
            DISTINCT
            TRIM(MC.MID) MID,
            S1A.PID
        FROM
            M_Cast MC,
            SHAHRUKH_1_ACTORS S1A
        WHERE
            TRIM(MC.PID) = S1A.PID
    )
    SELECT
        DISTINCT
        TRIM(MC.PID) PID,
        TRIM(P.Name) ACTOR_NAME
    FROM
        Person P,
        M_Cast MC,
        SHAHRUKH_2_MOVIES S2M
    WHERE
            TRIM(MC.PID) = TRIM(P.PID) AND
            TRIM(MC.MID) = S2M.MID AND
            TRIM(MC.PID) <> S2M.PID;
    
""", conn)

In [14]:
result

             PID             ACTOR_NAME
0      nm2951768           Freida Pinto
1      nm6467532  Caroline Christl Long
2      nm6071249          Rajeev Pahuja
3      nm3491108      Michelle Santiago
4      nm7509518         Jandre le Roux
5      nm5951787             Raj Awasti
6      nm5525290        Michael Chapman
7      nm8232648            James Heron
8      nm7247557              Alex Jaep
9      nm6631007        Marian Lorencik
10     nm7255636           Celina Nessa
11     nm5721141          James Pimenta
12     nm4964257      M'laah Kaur Singh
13     nm0380073  Maximiliano HernÃ¡ndez
14     nm3630374             Sohum Shah
15     nm3708961           Deepak Damle
16     nm8334880         Piyush Kaushik
17     nm1390115          Harish Khanna
18     nm3818286   Sushant Singh Rajput
19     nm0080232       Nitish Bharadwaj
20     nm8644385           Lalu Makhija
21     nm6661769             Mir Sarwar
22     nm4731677     Ayushmann Khurrana
23     nm0007102                   Tabu
24     nm2331000           Radhika Apte
25     nm0223521            Anil Dhawan
26     nm2435847              Manav Vij
27     nm1817397       Ashwini Kalsekar
28     nm3777127           Chhaya Kadam
29     nm1664541          Zakir Hussain
...          ...                    ...
15881  nm2019990        Pradhan Manjari
15882  nm2021136             Poonam Jha
15883  nm1459053     Sunila Karambelkar
15884  nm1763457           Arup Ganguli
15885  nm1760405            Laxmi Patel
15886  nm1760399           Meena Pankaj
15887  nm1686154                 Pratap
15888  nm2184586           Vidya Shenoy
15889  nm2182462       Jeetendra Khanna
15890  nm2177257             K.L. Sethi
15891  nm2084775         Malaika Shinoy
15892  nm2465676           Poonam Bajwa
15893  nm1688585         Kishin Punjabi
15894  nm1082198           Surjeet Redi
15895  nm0695939                 Premji
15896  nm1693988                   Kamu
15897  nm5578623                  Monal
15898  nm1524755           Ushma Rathod
15899  nm1567918                 Shilpi
15900  nm1946131            Zubeda Khan
15901  nm2519512               N. Sagar
15902  nm4042918           Habib Tanvar
15903  nm1881395       Mohd. Zahiruddin
15904  nm2522571          Muktha George
15905  nm0030135                Anjuman
15906  nm3099317           Dhruv Shetty
15907  nm2371614        Hayley Cleghorn
15908  nm2675737        Nirvasha Jithoo
15909  nm2370589         Kamal Maharshi
15910  nm1866356           Mohini Manik

[15911 rows x 2 columns]